@charset "UTF-8";
html {
  font-size: 15px;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  background-color: #dddddd !important;
}

.wrapper {
  width: 1200px;
  margin: auto;
  text-align: center;
  background-color: #ffffff;
}

.wrapper .contents {
  width: 950px;
  margin: auto;
  padding: 0px 0;
}

.wrapper .contents .page-top {
  text-align: right;
}

.wrapper .contents .page-top span .fa-check-square-o:before {
  padding: 0 1px;
  color: #fff;
  content: '\f62';
  /*アイコンの種類*/
}

.sp {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

sup {
  font-size: small;
  vertical-align: text-top;
}

.header {
  display: flex;
}

.header__logo {
  width: 27%;
}

.header__logo img {
  max-width: 81%;
  height: auto;
  margin-top: 12px;
  margin-left: 110px;
}

.header__navi {
  margin-top: 24px;
  margin-left: 1px;
}

.header__navi ul li {
  display: inline-block;
  font-size: 13px;
  font-size: 0.86667rem;
  vertical-align: middle;
}

.header__navi ul li a:hover {
  text-decoration: underline;
}

.header__navi-border {
  height: 18px;
  padding: 0 12px;
  padding-top: 4px;
  border-right: 1px solid #999999;
}

.header__navi-support_icon {
  margin: 0 0 0 5px;
  padding-right: 13px;
  background: url(../images/icon_newwin.png) no-repeat 0 0;
  background-size: contain;
  content: '';
}

.header__navi__btn {
  box-sizing: border-box;
  width: 129px;
  height: 40px;
  margin-top: 1px;
  margin-left: 11px;
  padding: 12px 5px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #b5b5b5;
}

.header__navi__btn .fa-check-square-o:before {
  content: '\f07a';
  /*アイコンの種類*/
}

.topbanner {
  margin-top: 35px;
}

.topbanner__text {
  position: relative;
  top: -152px;
  left: 247px;
}

.topbanner__text__icon {
  position: absolute;
  left: 17px;
}

.topbanner__text__p_name {
  position: absolute;
  top: 27px;
  left: -5px;
  width: 354px;
  font-weight: bold;
  font-size: 19px;
  font-size: 1.26667rem;
}

.topbanner__text__p_name span {
  padding: 0 5px;
  border: 1px solid #555555;
}

.topbanner__text__price {
  position: absolute;
  top: 64px;
  left: -86px;
  width: 354px;
  font-weight: bold;
  font-size: 30px;
  font-size: 2rem;
}

.topbanner__text__price span {
  font-size: 16px;
  font-size: 1.06667rem;
}

.topbanner__text__day_price {
  position: relative;
  top: -54px;
  left: 265px;
  width: 162px;
  height: 34px;
  padding: 9px 11px 1px 11px;
  color: #ff0000;
  font-weight: bold;
  font-size: 17px;
  font-size: 1.13333rem;
  background: #ffffff;
  border-radius: 20px;
  font-size: 17px;
  font-size: 1.13333rem;
}

.topbanner__text__button {
  position: relative;
  top: -126px;
  left: 464px;
  width: 200px;
  height: 73px;
  padding: 29px 0px 0px 13px;
  background-color: #02740f;
  border-radius: 5px;
}

.topbanner__text__button .fa-check-square-o:before {
  padding: 0 1px;
  color: #fff;
  content: '\f07a';
  /*アイコンの種類*/
}

.topbanner__text__button a {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  font-size: 1.06667rem;
}

.topbanner__link {
  margin-top: -87px;
}

.package-list__table {
  margin-top: 5px;
}

.package-list__table__top {
  position: absolute;
  display: flex;
  width: 100%;
  background: url(/images/four_top_bg.jpg) no-repeat 0 0;
}

.package-list__table__top__th {
  position: relative;
  top: 57px;
  left: -52px;
  width: 200px;
  height: 135px;
  margin-top: -5px;
  color: #ffffff;
  font-size: 16px;
  font-size: 1.06667rem;
  font-size: 16px;
  font-size: 1.06667rem;
}

.package-list__table__top__th p {
  font-weight: bold;
}

.package-list__table__top__th span {
  font-size: 12px;
  font-size: 0.8rem;
  position: relative;
  top: 9px;
  font-weight: bold;
}

.package-list__table__top__dx {
  top: 41px;
}

.package-list__table__Adjustment {
  height: 130px;
}

.package-list__table__tr {
  display: table;
  height: 85px;
  margin-left: 2px;
  border-bottom: 1.5px solid #666666;
}

.package-list__table__tr__td {
  display: table-cell;
  width: 196px;
  vertical-align: middle;
  background-color: #fff7d6;
}

.package-list__table__tr__td--title {
  position: relative;
  display: table-cell;
  width: 149px;
  vertical-align: middle;
  background-color: #eeeeee;
}

.package-list__table__tr__td--title p {
  font-size: 13px;
  font-size: 0.86667rem;
  position: relative;
  top: 62px;
}

.package-list__table__tr__td--title2 {
  display: table-cell;
  width: 149px;
  vertical-align: middle;
  background-color: #eeeeee;
}

.package-list__table__tr__td--title2 p {
  padding: 0 5px;
  text-align: left;
  font-size: 13px;
  font-size: 0.86667rem;
}

.package-list__table__tr__td--title2 p span {
  font-size: 10px;
  font-size: 0.66667rem;
}

.package-list__table__tr__td--space {
  display: table-cell;
  width: 2px;
  background-color: #ffffff;
}

.package-list__table__tr__td--td2 {
  width: 199px;
  border-left: 1.5px solid #666666;
}

.package-list__table__tr__td--dx {
  width: 203px;
  background-color: #ffe9a6;
  border-right: 3.5px solid #fd5200;
  border-left: 3.5px solid #fd5200;
}

.package-list__table__tr__td--link {
  margin: 14px 0;
  text-decoration: underline;
  font-size: 13px;
  font-size: 0.86667rem;
}

.package-list__table__tr__td--price {
  margin-top: 25px;
  color: #ff0000;
  font-weight: bold;
  font-size: 32px;
  font-size: 2.13333rem;
}

.package-list__table__tr__td--price span {
  color: black;
  font-size: 13px;
  font-size: 0.86667rem;
}

.package-list__table__tr__td--tax-price {
  margin-right: -43px;
  padding-top: 11px;
}

.package-list__table__tr__td--button {
  box-sizing: border-box;
  width: 171px;
  height: 42px;
  margin: 14px 0px;
  margin-left: 11px;
  padding: 12px 5px;
  text-align: center;
  background-color: #02740f;
  border: 1px solid #02740f;
  border-radius: 5px;
}

.package-list__table__tr__td--button a {
  color: #ffffff;
  font-weight: bold;
}

.package-list__table__tr__td--price2 {
  margin-top: 25px;
  margin-left: 23px;
  font-weight: bold;
  font-size: 23px;
  font-size: 1.53333rem;
}

.package-list__table__tr__td--price2 span {
  color: black;
  font-size: 13px;
  font-size: 0.86667rem;
}

.package-list__table__tr__td--button-link {
  margin: 21px 0;
}

.package-list__table__tr__td--button-link a {
  color: #02740f;
  font-weight: bold;
  text-decoration: underline;
}

.package-list__table__tr__td--non {
  font-size: 27px;
  font-size: 1.8rem;
}

.package-list__table__tr__td--non p {
  font-size: 13px;
  font-size: 0.86667rem;
  position: relative;
  top: 53px;
}

.package-list__table__tr__td--non p span {
  font-size: 1px;
  font-size: 0.06667rem;
}

.package-list__table__tr__td--kome-mark {
  margin: 19px 0;
}

.package-list__table__tr__td--kome-mark p {
  font-size: 13px;
  font-size: 0.86667rem;
  font-weight: bold;
}

.package-list__table__tr__td--kome-mark p span {
  font-weight: normal;
  font-size: 1px;
  font-size: 0.06667rem;
}

.package-list__table__tr__td--bold {
  font-weight: bold;
}

.package-list__table__tr--header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 43px;
  padding: 0 11px;
  color: white;
  font-weight: bold;
  text-align: left;
  background-color: #666666;
  background-color: #666666;
}

.package-list__Note {
  padding-left: 11px;
}

.package-list__Note li {
  margin: 12px 0;
  text-align: left;
  list-style: none;
}

.package-list__Note li p {
  font-size: 12px;
  font-size: 0.8rem;
  line-height: 15px;
}

.package-list__Note li p a {
  color: #f47c3b;
}

.package-list__Note li p a:hover {
  text-decoration: underline;
}

.package-list__Note li p a::after {
  margin: 0 5px 0 5px;
  padding-right: 13px;
  background: url(../images/icon_newwin.png) no-repeat 0 0;
  background-size: contain;
  content: '';
}

.package-list__Note--space {
  margin-left: 24px;
}

.relief {
  margin: 33px auto;
}

.relief__title {
  width: 100%;
  padding: 23px 20px;
  color: #ffffff;
  text-align: left;
  background-color: #fdbb30;
  font-size: 34px;
  font-size: 2.26667rem;
  border-radius: 5px;
}

.relief__title h2 {
  font-weight: normal;
}

.relief__list__clumn {
  text-align: left;
}

.relief__list__clumn--kome1 {
  font-size: 12px;
  font-size: 0.8rem;
  margin-top: 11px;
}

.relief__list__clumn--kome2 {
  font-size: 12px;
  font-size: 0.8rem;
  padding-left: 12px;
}

.relief__list dl {
  display: flex;
  margin: 53px 15px;
}

.relief__list dl dt {
  margin: 36px 0px;
  padding: 14px 20px;
  font-weight: bold;
  border-bottom: 1px solid #fdbb30;
  font-size: 28px;
  font-size: 1.86667rem;
}

.relief__list dl span {
  font-size: 40px;
  font-size: 2.66667rem;
}

.relief__list dl dd {
  margin: -23px 0;
  padding: 14px 22px;
  font-size: 20px;
  font-size: 1.33333rem;
}

.relief__list dl dd a {
  color: #f15500;
}

.relief__list dl dd a:hover {
  text-decoration: underline;
}

.relief__list dl dd a::after {
  margin: 0 5px 0 5px;
  padding-right: 13px;
  background: url(../images/icon_newwin.png) no-repeat 0 0;
  background-size: contain;
  content: '';
}

.relief__button {
  width: 600px;
  height: 73px;
  margin: 0 auto;
  padding: 29px 0px 0px 13px;
  background-color: #02740f;
  border-radius: 5px;
  font-size: 28px;
  font-size: 1.86667rem;
}

.relief__button .fa-check-square-o:before {
  padding: 0 1px;
  color: #fff;
  content: '\f07a';
  /*アイコンの種類*/
}

.relief__button a {
  color: #ffffff;
  font-weight: bold;
}

.defense {
  margin: 62px auto;
}

.defense__title {
  width: 100%;
  padding: 23px 20px;
  color: #ffffff;
  text-align: left;
  background-color: #0085c6;
  border-radius: 5px;
  font-size: 34px;
  font-size: 2.26667rem;
}

.defense__title h2 {
  font-weight: normal;
}

.defense__figure img {
  max-width: 100%;
}

.defense__button {
  width: 600px;
  height: 73px;
  margin: 40px auto;
  padding: 29px 0px 0px 13px;
  background-color: #02740f;
  border-radius: 5px;
  font-size: 28px;
  font-size: 1.86667rem;
}

.defense__button .fa-check-square-o:before {
  padding: 0 1px;
  color: #fff;
  content: '\f07a';
  /*アイコンの種類*/
}

.defense__button a {
  color: #ffffff;
  font-weight: bold;
}
