html {
    font-size: $html_font_size;
}
body {
    font-family: $font_body;
    background-color: $color_side !important;
}
.wrapper {
    width: 1200px;
    margin: auto;
    text-align: center;
    background-color: $color_main;
    .contents {
        width: 950px;
        margin: auto;
        padding: 0px 0;
    }
}

.pc {
}

.sp {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

.fa-check-square-o:before {
    content: '\f07a'; /*アイコンの種類*/
}
