html {
    font-size: $html_font_size;
}
body {
    font-family: $font_body;
    background-color: $color_side !important;
}
.wrapper {
    width: 1200px;
    margin: auto;
    text-align: center;
    background-color: $color_main;
    .contents {
        width: 950px;
        margin: auto;
        padding: 0px 0;
        .page-top {
            text-align: right;
            span {
                .fa-check-square-o:before {
                    padding: 0 1px;
                    color: #fff;
                    content: '\f62'; /*アイコンの種類*/
                }
            }
        }
    }
}

.pc {
}

.sp {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

sup {
    font-size: small;
    vertical-align: text-top;
}
