.header {
    display: flex;
    margin-left: -110px;
    &__cart {
        position: absolute;
        right: 5px;
        width: 51%;
    }
    &__logo {
        width: 27%;
        @include media(max-xs) {
            width: 65%;
            margin: -8px 0px;
        }
        img {
            // max-widthはpx等で指定する。
            // width: 47%と指定しているので、%の数値がそれ以上またはそれ以下になるわけがないので、
            // max-width: 81%は意味がない。
            width: 47%;
            //max-width: 81%;

            // imgの height: auto はすごくよく書くので、baseの部分でかいておく
            // _base.scssご参照ください。
            height: auto;
            margin-top: 18px;
            margin-left: 72px;
            cursor: pointer;
            @include media(max-l) {
                margin-left: 53px;
            }
        }
        @include media(max-l) {
            margin-left: 22px;
        }
    }
    &__navi-sp {
        @include media(min-xs) {
            display: none;
        }
        position: absolute;
        top: 16px;
        @include media(max-xs) {
            right: 61px;
        }
        z-index: 300;
        width: 75px;
        height: 40px;
        margin-top: 10px;
    }

    &__navi {
        //SP
        @include media(max-xs) {
            display: none;
        }

        margin-top: 24px;
        margin-left: -9px;

        @include media(max-l) {
            margin-left: 0px;
        }

        ul li {
            display: inline-block;
            @include fontsize(12.2, $root_font_size);
            @include media(max-l) {
                @include fontsize(11, $root_font_size);
            }
            //vertical-align: middle;
            a:hover {
                text-decoration: underline;
            }
        }

        &-border {
            height: 18px;
            padding: 0 12px;
            @include media(max-l) {
                padding: 0 1px;
            }
            padding-top: 4px;
            border-right: 1px solid $color_header_line;

            &--cs {
                &:after {
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    margin-left: 5px;
                    background-image: url(../images/icon_newwin.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    content: '';
                }
            }

            &--cart {
                width: 52%;
                &:before {
                    margin-right: 5px;
                    font-family: 'FontAwesome';
                    content: '\f07a';
                }
            }
        }

        &-support_icon {
            margin: 0 0 0 5px;
            padding-right: 13px;
            background: url(../images/icon_newwin.png) no-repeat 0 0;
            background-size: contain;
            content: '';
        }
        &__btn {
            box-sizing: border-box;
            width: 129px;
            @include media(max-l) {
                width: 96px;
            }

            height: 40px;
            margin-top: 1px;
            margin-left: 11px;
            padding: 12px 5px;
            text-align: center;
            background: $color_main;
            border: 1px solid $color_header_button;
            .fa-check-square-o:before {
                content: '\f07a'; /*アイコンの種類*/
            }
            cursor: pointer;
            &:hover {
                background: #f5f5f5;
            }
        }
    }
}
/* --------------------------------
     * ハンバーガーメニュー
     * -------------------------------- */
.global-nav {
    position: fixed;
    top: -32px;
    right: -810px; /* これで隠れる */
    z-index: 200;
    width: 78%; /* スマホに収まるくらい */
    height: 1000%;
    //padding: 17px 0 0px 16px;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
    text-align: left;
    background-color: $color_main;
    transition: all 0.6s;
    &__list {
        margin: 0;
        margin-top: 122px;
        padding: 0;
        //padding: 103px 15px 9px 8px;
        line-height: 31px;
        list-style: none;
        &--border {
            padding: 10px 0;
            border: 1px solid $color_header_button;
            a {
                margin-left: 30px;
                color: $color_header_list_sp;
            }
        }
    }
}

.hamburger {
    position: absolute;
    top: -13px;
    right: -61px;
    z-index: 300;
    width: 59px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    &__line {
        position: absolute;
        left: 11px;
        width: 30px;
        height: 4px;
        background-color: #333;
        border-radius: 4px;
        transition: all 0.3s;
        &--1 {
            top: 14px;
        }
        &--2 {
            top: 20px;
            margin: 4px 0px;
        }
        &--3 {
            top: 26px;
            margin: 8px 0px;
        }
    } //&__line close
}

.global-nav__item {
    padding: 0 14px;
    text-align: center;
    a {
        display: block;
        padding: 8px 0;
        color: #111;
        text-decoration: none;
        border-bottom: 1px solid #eee;
        &:hover {
            background-color: #eee;
        }
    }
}

.black-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all 0.6s;
}

.is-active-gnav {
    right: 0px;
}
// /* 表示された時用のCSS */
.nav-open {
    position: fixed;
    top: 0;
    right: 0px;
}
.nav-open .global-nav {
    right: -31px;
    right: 0;
}
.nav-open .black-bg {
    visibility: visible;
    opacity: 0.8;
}
.nav-open .hamburger__line--1 {
    top: 27px;
    transform: rotate(48deg);
    transition: all 0.2s;
}
.nav-open .hamburger__line--2 {
    left: 50%;
    width: 0;
}
.nav-open .hamburger__line--3 {
    top: 20px;
    transform: rotate(-45deg);
    transition: all 0.2s;
}
