@mixin center {
    　　text-align: center;
    　　position: relative;
    　　top: 50%;
    　　-webkit-transform: translateY(-50%);
    　　-ms-transform: translateY(-50%);
    　　transform: translateY(-50%);
}

@mixin fontsize($size: 24, $base: 16) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

@mixin fontsizeImp($size: 24, $base: 16) {
    font-size: $size + px !important;
    font-size: ($size / $base) * 1rem !important;
}

$breakpoints: (
    max-xs: 'only screen and (max-width:576px)',
    min-xs: 'only screen and (min-width:576px)',
    xs-s: 'only screen and (min-width:576px) and (max-width:766px)',
    max-s: 'only screen and (max-width:767px)',
    min-s: 'only screen and (min-width:767px)',
    s-m: 'only screen and (min-width:767px) and (max-width:990px)',
    s-l: 'only screen and (min-width:767px) and (max-width:1198px)',
    max-m: 'only screen and (max-width:991px)',
    min-m: 'only screen and (min-width:991px)',
    m-l: 'only screen and (min-width:991px) and (max-width:1198px)',
    max-l: 'only screen and (max-width:1199px)',
    min-l: 'only screen and (min-width:1199px)'
);

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
