.relief {
    margin: 33px auto;
    &__title {
        width: 100%;
        padding: 23px 20px;
        color: $color_main;
        text-align: left;
        background-color: $color_relief_title;
        @include fontsize(34, $root_font_size);
        @include media(max-xs) {
            @include fontsize(24, $root_font_size);
            padding: 23px 14px;
        }
        border-radius: 5px;
        h2 {
            font-weight: normal;
        }
    }
    &__list {
        &__clumn {
            text-align: left;
            &--kome1 {
                @include fontsize(13, $root_font_size);
                @include media(max-xxs) {
                    @include fontsize(10, $root_font_size);
                }
                display: flex;

                margin-top: 11px;
                margin-left: -11px;
            }
            &--kome2 {
                @include fontsizeImp(12, $root_font_size);
                padding-left: 12px;
            }
        }
        dl {
            display: flex;
            margin: 54px 7px;
            @include media(max-xs) {
                margin: 0 15px;
            }
            dt {
                margin: 36px 0px;
                padding: 14px 20px;
                padding: 6px 26px;
                font-weight: bold;
                border-bottom: 1px solid $color_relief_title;
                @include media(max-xs) {
                    padding: 6px 0px;
                    line-height: 36px;
                    text-align: center;
                    border-bottom: 4px solid $color_relief_title;
                    @include fontsize(20, $root_font_size);
                    span {
                        @include fontsize(35, $root_font_size);
                    }
                }
                @include fontsize(25, $root_font_size);
            }
            @include media(max-xs) {
                img {
                    max-width: 100%;
                }
            }
            span {
                @include fontsize(40, $root_font_size);
                @include media(max-xs) {
                    @include fontsize(14, $root_font_size);
                }
            }
            dd {
                margin: -23px 0;
                padding: 16px 0px 0 17px;
                line-height: 32px;
                @include fontsize(20, $root_font_size);
                @include media(max-xs) {
                    margin: 32px 0;
                    padding: 0 0 26px 0;
                    @include fontsize(17.5, $root_font_size);
                    border-bottom: 1px solid #ccc;
                    sup {
                        font-size: small;
                        vertical-align: text-top;
                    }
                }
                a {
                    color: $color_relief_support;
                    &:hover {
                        text-decoration: underline;
                    }
                    &::after {
                        margin: 0 5px 0 5px;
                        padding-right: 13px;
                        background: url(../images/icon_newwin.png) no-repeat 0 0;
                        background-size: contain;
                        content: '';
                    }
                }
            }
        }
    }
    &__button {
        width: 600px;
        height: 73px;
        margin: 0 auto;
        padding: 24px 0px 0px 13px;
        background-color: $color_button;
        border-radius: 5px;
        @include fontsize(28, $root_font_size);
        @include media(max-xs) {
            width: 100%;
            @include fontsize(23, $root_font_size);
        }

        .fa-check-square-o:before {
            padding: 0 1px;
            color: #fff;
            content: '\f07a'; /*アイコンの種類*/
        }
        a {
            color: $color_main;
            font-weight: bold;
            &:hover {
                opacity: 0.9;
                filter: brightness(110%);
            }
        }
    }
}
