.relief {
    margin: 33px auto;
    &__title {
        width: 100%;
        padding: 23px 20px;
        color: $color_main;
        text-align: left;
        background-color: $color_relief_title;
        @include fontsize(34, $root_font_pc_size);
        border-radius: 5px;
        h2 {
            font-weight: normal;
        }
    }
    &__list {
        &__clumn {
            text-align: left;
            &--kome1 {
                //SEO観点からkome1,kome2どちらも記述
                @include fontsize(12, $root_font_pc_size);
                margin-top: 11px;
            }
            &--kome2 {
                //SEO観点からkome1,kome2どちらも記述
                @include fontsize(12, $root_font_pc_size);
                padding-left: 12px;
            }
        }
        dl {
            display: flex;
            margin: 53px 15px;
            dt {
                margin: 36px 0px;
                padding: 14px 20px;
                font-weight: bold;
                border-bottom: 1px solid $color_relief_title;
                @include fontsize(28, $root_font_pc_size);
            }
            span {
                @include fontsize(40, $root_font_pc_size);
            }
            dd {
                margin: -23px 0;
                padding: 14px 22px;
                @include fontsize(20, $root_font_pc_size);
                a {
                    color: $color_relief_support;
                    &:hover {
                        text-decoration: underline;
                    }
                    &::after {
                        margin: 0 5px 0 5px;
                        padding-right: 13px;
                        background: url(../images/icon_newwin.png) no-repeat 0 0;
                        background-size: contain;
                        content: '';
                    }
                }
            }
        }
    }
    &__button {
        width: 600px;
        height: 73px;
        margin: 0 auto;
        padding: 24px 0px 0px 13px;
        background-color: $color_button;
        border-radius: 5px;
        @include fontsize(28, $root_font_pc_size);

        .fa-check-square-o:before {
            padding: 0 1px;
            color: #fff;
            content: '\f07a'; /*アイコンの種類*/
        }
        a {
            color: $color_main;
            font-weight: bold;
            &:hover {
                opacity: 0.9;
                filter: brightness(110%);
            }
        }
    }
}
